{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "func-names":"off",
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "double"
    ]
  }
}